.App {
  text-align: center;
}

div.RRT__tabs .RRT__tab.tab {
  font-family: Verdana;
  background-color: #ffffff;
  border: 0;
}

div.RRT__tab.tab.RRT__tab--selected {
  color: blue;
  border-bottom: 1px solid blue;
}
div.RRT__container .panel {
  font-family: Verdana;
}

